@import './base.css';

/*start header*/
.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    z-index: 9;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}

.header .nav a {
    color: #101928;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.active {
    font-weight: 900;
}

.header .auth a {
    font-family: var(--subFont);
    padding: 5px 20px;
    border-radius: 5px;
}

.header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type {
    background-color: var(--mainColor);
    color: #fff;
}

.burger-menu {
    display: none;
}

@media(max-width:992px) {
    .nav ul {
        display: none;
    }

    .burger-menu {
        display: inline-block;
    }

    .auth {
        display: none;
    }
}

@media(max-width:400px) {
    .container {
        width: calc(100% - 40px);
    }

}

/*end header*/
/*start main*/
/* start find-course*/
.find-course{
    background:linear-gradient(
        to bottom,
        #fff 0%,
        #fff 30%,
        #f5f5f534 30%,
        #f5f5f534 100%

 );
 padding: 50px 0;
}
.find-course .high-part .row{
    gap: 40px;
}
.high-part .begins-part,.welcome-img{
    width:calc((100% - 40px) / 2) ;
}

.find-course .high-part .begins-part .begin{
    margin-bottom: 20px;
    color:var(--mainColor);
    font-family: var(--subFont);
    font-weight: 700;
}
.find-course .high-part .begins-part .to-begin{
   font-weight: 400;
}
.find-course .high-part .begins-part .special{
    color: var(--mainColor);
}
.special-description{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #969696;
}
.find-course .high-part .begins-part a:last-of-type {
    background-color: var(--mainColor);
    color: #fff;
    font-family: var(--subFont);
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 30px;
} 
.find-course .high-part .begins-part .play{
    width: 15px;
    height: 15px;
}
.find-course .high-part .begins-part .ppp{
    font-family:var(--subFont);

    font-weight: 700;
    font-size: 17px;
    line-height: 9px;
    color: #131e31;
}
.find-course .welcome-img{
    text-align: center;
}
.find-course .welcome-img img{
    width:300px;
    height: 300px;
}
.find-course .low-part{
    margin-top:80px;
}
.find-course .low-part .row{
    gap: 30px;
}
.find-course .low-part .about-us{
    flex-basis: 400px;
    flex-grow: 1;
}
.find-course .low-part .more-about-us{
    flex-grow: 1;
}
.find-course .low-part .about-us .give{
    font-family: var(--subFont);
    
    font-weight: 400;
    font-size: 15px;
    line-height: 9px;
    color: var(--mainColor);
    margin-bottom: 15px;
}
.more-about-us .row{
    gap:10px;
}
.more-about-us .more-course-info{
    width:calc((100% - 10px) / 3) ;
    background-color: var(--mainColor);
    width:200px ;
    height: 200px;
    padding:10px;
    border-radius:5px;
}
.more-about-us .more-course-info h4{
    font-family: var(--subFont);
    font-weight: 700;
    line-height: 12px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}
.more-about-us .more-course-info img{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.more-about-us .more-course-info p{   
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    color: #dddddd;
}
.low-part .navigate{
   text-align: right;
   margin-top: 10px;
   margin-right: 40px;
}
.low-part .navigate a img{
    width: 25px;
    height: 25px;
}


@media(max-width:700px){
 .high-part .begins-part{
    width: 100%;
}
.low-part .navigate{
    text-align: center;
}

}
/* end find-course*/
/*start people taking courses*/
.about-courses{
    background-color: var(--mainColor);
    padding: 40px 0;
}
.about-courses .row{
    gap: 40px;
}
.about-courses .circle,.people-take-course{
    width: calc((100% - 40px) / 2);
}
.about-courses .circle img{
    width: 400px;
height: 400px;
}
.people-take-course{
padding: 40px 0;
}
.people-take-course .selected-courses{
    font-weight: 400;
font-size: 15px;
line-height: 9px;

 font-family: var(--subFont);
color: #f0c932;
}
.people-take-course h2{
    color:#fff;
    margin-top: 15px;
}
.people-take-course .selected-courses-description{
    font-weight: 400;
font-size: 15px;
line-height: 33px;
text-align: left;
margin-bottom: 20px;

color: #dddddd;
}
.statistical-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.statistical-info .statistical-no{
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;       
    color: #f0c932;
    font-family: var(--subFont);
}
.statistical-info .statistical-type{
     font-weight: 400;
    font-size: 15px;
    line-height: 9px;
    color: #dddddd;
    font-family:var(--subFont);
 
}
@media(max-width:960px){
    .about-courses .circle{
        width: 100%;
        text-align: center;
    }
    
    .about-courses .people-take-course{
        width: 100%;
        text-align: center;
    }
}

 


/*end people taking courses*/
/*statrt courses*/
.available-courses {
    padding: 40px 0;
    background-color: #fff;

}

.available-courses .row {
    gap: 40px;
}


.available-courses .course-items,
.course-description {
    width: calc((100% - 40px) / 2);
}

.course-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course-items .course {
    width: calc((100% - 20px) / 2);
    padding: 20px 0;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
}

.course-items .course-card img {
    width: 100%;
    filter: brightness(80%);

}

.course-card {
    position: relative;
}

.course-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.course-info .best-course {
    color: #fff;
    background-color: #545BE8;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
}

.course-info .course-price {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 5px;
}

.course .course-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;


}

.course .course-details .row {
    justify-content: space-around;
}

.course .course-details .row:last-of-type {
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
}

.course-details .course-view {
    color: var(--mainColor);
    font-weight: 400;
    font-size: 12px;
}

.course-details .edu-info {
    color: #969696;
    font-size: 13px;
    font-weight: 400;
}

.course-description {
    padding: 20px 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;

}

.course-description .ava-course {
    color: var(--mainColor);
    font-family: var(--subFont);

}

.course-description h2 {
    color: #131e31;
}

.course-description p {
    color: #969696;
    font-weight: 400;
    font-size: 13px;
}

.course-description a {
    color: #fff;
    background-color: #545BE8;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    font-family: var(--subFont);
    width: 150px;
    text-align: center;
    height: 40px;

}

@media(max-width:1050px) {
    .course-description{
        width: 100%;
        
    }
    .course-items{
        flex-grow: 1;
        padding:40px;
    }

}

    @media(max-width:700px){
        .course-items .course{
            width: 100%;
        }
        .course-description{
            align-items: center;
            text-align: center;
        }
    }
    @media(max-width:500px){
        .course-items .course .best-course{
            font-weight: 500;
            font-size: 10px;
            padding:5px;
        }
        
    }


/*end courses*/
/*start testimomials*/
.testimonials {
    text-align: center;
    padding: 40px 0;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonials .row {
    gap: 40px;

}

.testimonial {
    width: calc((100% - 40px) /2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    position: relative;

    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
}

.testimonial::after {
    content: '';
    border-left: transparent solid 40px;
    border-top: #cdd0d0be solid 40px;
    border-bottom: transparent solid 40px;
    position: absolute;
    top: 0;
    right: 0;

}

.testimonial .client-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    ;
    align-items: center;
}

.testimonial .client-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;

}

.testimonial .client-info .client-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.testimonial .client-data span {
    font-size: 12px;
    color: #969696;
}

.testimonial .rate {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.testimonial .rate img {
    width: 25px;
    height: 25px;
}

.testimonial blockquote {
    color: #969696;
    text-align: left;
    font-size: 12px;
    ;
}

@media(max-width:650px) {
    .testimonial {
        width: 100%;
    }
}

/*.testimonial  blockquote p{
        display: inline-block;
        padding: 0 20px;
    }*/
/*end testimpnials*/
/*end main*/
/*satrt footer*/
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;

}

.footer .row {
    gap: 40px;
}

.footer-start-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex-basis: 400px;
    flex-grow: 1;
}

.footer .footer-start-side .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-start-side .logo img {
    width: 35px;
}

.footer .footer-start-side .logo a {
    font-size: 14px;
}

.footer .footer-start-side p {
    color: #F4F4F4;
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
}

.footer .footer-start-side .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.footer .footer-start-side .icons img {
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}

.footer-end-side {
    flex-grow: 1;
}

.footer-end-side .row {
    gap: 30px;

}

.footer-end-side .footer-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
}

.footer-end-side .footer-item ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.footer-end-side .footer-item ul a {
    font-size: 14px;
}

@media(max-width:400px) {
    .footer-start-side {
        align-items: center;
        text-align: center;
    }
}

/*end footer*/